.card {
  @apply text-center font-bold border-2 border-black rounded-md p-2 shadow-xl hover:bg-indigo-300  transition duration-500 ease-in-out ;
}

#status {
  width: 70%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 20px auto;
  border-radius: 10px;
}

#status.success {
  background: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}
#status.error {
  background: rgb(250, 129, 92);
  color: #fff;
  animation: status 4s ease forwards;
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
